.App {
  text-align: center;
  position: relative;
  background: rgba(0,0,0,0.01);
}
#toggle-btn{
  position: fixed;
  top: 10px;
  transition: left 0.2s ease-in-out;
}
#loadmorebtn{
  padding: 10px;
  margin-bottom: 20px;
  background: #ffcc66;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888888;
  color: royalblue;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
